---
layout: archive
title: "Publication"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div style="margin-bottom: 1em;">
  <a href="https://arxiv.org/abs/2412.10726" target="_blank" style="color:#1a73e8; text-decoration:none; font-size:1.1em; font-weight:600;">
    NoisyEQA: Benchmarking Embodied Question Answering Against Noisy Queries
  </a><br>
  <strong>Tao Wu</strong>, Chuhao Zhou, Yen Heng Wong, Lin Gu, Jianfei Yang<br>
  <em>Accepted by IROS 2025 Workshop</em>
</div>

<div style="margin-bottom: 1em;">
  <a href="http://arxiv.org/abs/2512.04597" target="_blank" style="color:#1a73e8; text-decoration:none; font-size:1.1em; font-weight:600;">
    When Robots Should Say “I Don’t Know”: Benchmarking Abstention in Embodied Question Answering
  </a><br>
  <strong>Tao Wu</strong>, Chuhao Zhou, Guangyu Zhao, Haozhi Cao, Yewen Pu, Jianfei Yang<br>
  <em>Accepted by CVPR 2026</em>
</div>
